<template>

  <div id="app">
    <div id="wrapper">
      
      <mj-header></mj-header>
        <!--
      <div class="p-6 bg-red-300 text-white"> test</div>
      <div class="p-6 bg-mj-green-100 text-red-600 border-red-600 border"> test</div>  mj-green lo ha ireato tu nel file tailwind.config.js quei colori puoi usarli per ogni cosa, bordi,bakcgrounc,colori testo  
       -->
      <router-view/>
      
      <footer>
        Footer
      </footer>

    </div>


  </div>

</template>

<script>
  import MJHeader from '@/components/MJHeader'
  export default {
    components: {
      'mj-header':MJHeader
    },
    created()
    {
      this.$store.dispatch( 'checkLogin'); // questa fa solo una chiamata al bach-end per capire se sei loggato 
    }
  }
</script>

<style lang="scss">
  #wrapper {
      position: relative;
      width: 100%;
      min-height: 100vh;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: rgb(26  ,104  ,179); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(26  ,104  ,179,1) 0%, rgba(123,202,85,1)  100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(26  ,104  ,179,1) 0%,rgba(123,202,85,1)  100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(26  ,104  ,179,1) 0%,rgba(123,202,85,1)  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a68b3', endColorstr='#7bca55',GradientType=0 ); /* IE6-9 */
  }
  
main{ // tuti i main di tutte le pagine saranno così
  min-height: auto;
  @media(min-width: 1024px)
  {
    min-height: calc( 100vh -  100px);
  } 
}
</style>
