<template>
    <div class=" relative w-full pt-10">
        <div class="absolute top-0 right-0 cursor-pointer z-10">
            <font-awesome-icon @click="switchState" :icon="iconClass" class="text-white text-3xl cursor-pointer hover:text-mj-blue-1"></font-awesome-icon>
        </div>
        <article v-for=" skill of skills" :key="skill.id" class="relative flex mb-4">

            <div class="relative flex-grow">
                
                <div class="relative h-8 bg-mj-green-1 skill-bar flex items-end justify-end" :style="{width: (skill.pivot.level * 20) + '%'}">
                    <span class="text-mj-blue-1 font-semibold px-2 leading-none pb-1">
                         {{skill.pivot.level}}    
                    </span>
                </div>
                <div class="relative w-full">
                    <strong class="text-white">
                        {{ skill.label   }} 
                    </strong>
                </div>
            
            </div>
            <div class="realtive" v-if="isEditing">
                <div class=" relative flex">
                    <div class="relative w-auto px-2">
                        <font-awesome-icon @click="lvlUp(skill)" :icon="['fas','angle-up']" class="text-white text-3xl cursor-pointer hover:text-mj-blue-1"></font-awesome-icon>
                    </div>
                    <div class="relative w-auto px-2">
                        <font-awesome-icon @click="lvlDown(skill)" :icon="['fas','angle-down']" class="text-white text-3xl cursor-pointer hover:text-mj-blue-1"></font-awesome-icon>
                    </div>
                    <div class="relative w-auto px-2">
                        <font-awesome-icon @click="removeSkill(skill)" :icon="['fas','times']" class="text-white text-3xl cursor-pointer hover:text-mj-blue-1"></font-awesome-icon>
                    </div>
                </div>
            </div>

        </article>

        <div class="realtive w-full" v-if="isEditing">

            <div class="relative" v-if="!isAdding">
                <div class="relative flex">
                    <font-awesome-icon @click="toggleAdd" :icon="['fas','plus']" class="text-white text-3xl cursor-pointer hover:text-mj-blue-1"></font-awesome-icon>
                </div>
            </div>

            <div class="relative w-full flex" v-else>
                <div class="relative flex-grow" v-if="selectedSkill == null">
                    <mj-input layout="dark" v-model="filter" >
                        <div class="absolute w-full top-100 left-0" v-if ="filter !== '' && filter.length > 3 ">
                            <ul class="bg-mj-blue-1 text-white py-4">

                                <template v-if="filteredSkills.length > 0 ">
                                    <li  class=" bg-white hover:bg-mj-green-1 text-mj-blue-1 hover:text-white cursor-pointer px-2 py-4" v-for="fSkills of filteredSkills" :key="fSkills.id" @click="selectSkill(fSkills)">
                                        {{fSkills.label}}
                                    </li>
                                </template>

                                
                                <template v-else>
                                    <li>
                                        Non ci sono skill disponibili 
                                    </li>
                                </template>

                            </ul>
                        </div>
                    </mj-input>
                </div>

                <div class="relative w-full flex" v-if="selectedSkill">
                    <div class="relative flex-grow">
                        
                        <div class="relative h-8 bg-mj-green-1 skill-bar flex items-end justify-end" :style="{width: (selectedSkillLevel * 20) + '%'}">
                            <span class="text-mj-blue-1 font-semibold px-2 leading-none pb-1">
                                {{selectedSkillLevel}}  
                            </span>
                        </div>
                        <div class="relative w-full">
                            <strong class="text-white">
                                {{selectedSkill.label}}
                            </strong>
                        </div>
                    
                    </div>
                    <div class="realtive">
                        <div class=" relative flex">
                            <div class="relative w-auto px-2">
                                <font-awesome-icon @click="SkillUp()" :icon="['fas','angle-up']" class="text-white text-3xl cursor-pointer hover:text-mj-blue-1"></font-awesome-icon>
                            </div>
                            <div class="relative w-auto px-2">
                                <font-awesome-icon @click="SkillDown()" :icon="['fas','angle-down']" class="text-white text-3xl cursor-pointer hover:text-mj-blue-1"></font-awesome-icon>
                            </div>
                            <div class="relative w-auto px-2">
                                <font-awesome-icon @click="ConfirmSkill()" :icon="['fas','thumbs-up']" class="text-white text-3xl cursor-pointer hover:text-mj-blue-1"></font-awesome-icon>
                            </div>
                            <div class="relative w-auto px-2">
                                <font-awesome-icon @click="CancelAdd()" :icon="['fas','times']" class="text-white text-3xl cursor-pointer hover:text-mj-blue-1"></font-awesome-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import ApiServices from '@/services/api-services'
import MJInput from '@/components/MJInput'
export default {
    name: 'user-skills',
    components:
    {
        'mj-input': MJInput,
    },
    data: function()
    {
        return{
            isEditing: false,
            isAdding: false,
            filter: '',
            selectedSkill: null,
            selectedSkillLevel: 1,
        };
    },
    computed:
    {
        iconClass()
        {
             return this.isEditing ? [ 'fas', 'times' ] : [ 'fas', 'pencil-alt' ];
        },
        filteredSkills()
        { // dentro allSkill hai  tutte le skills, item le prende uno a uno, se il nome "item-label" include la variabile filter(che tu scriverai da sopra) allora ritorna filterOk
            return this.allSkills.filter( item =>
            {
                const filterOk = item.label.toLowerCase().includes( this.filter.toLowerCase() );
                return filterOk;
            });

        },
        
        allSkills()
        {
            console.log(this.$store.getters.allSkills);
            return this.$store.getters.allSkills;
        },  
        
        skills()
        {
            return this.$store.getters.skills;
        }, 
    },
    methods:
    {
        switchState()
        {
            this.isEditing = !this.isEditing;
        },
        lvlUp(skill)
        {
            const newSkillValue = parseFloat(skill.pivot.level,10) + .5;

            if(newSkillValue >= 1  &&  newSkillValue <= 5)
            {
                ApiServices
                .manageSkill({skill_id: skill.id, lvl: newSkillValue, exp_years: 10}) // skill_id è come se lo aspetta laravel, skill.id è quello che hai fatto qua 
                .then(res =>
                    {
                        console.log("risultato", res.data.result.user_skills);
                        this.$store.dispatch('refreshUserSkills', res.data.result.user_skills);
                    })
                .catch(err => 
                {
                    console.log(err);
                })
            }
        },
        lvlDown(skill)
        {
            const newSkillValue = parseFloat(skill.pivot.level,10) - .5;

            if(newSkillValue >= 1  && newSkillValue <= 5)
            {
                ApiServices
                .manageSkill({skill_id: skill.id, lvl: newSkillValue, exp_years: 10}) // skill_id è come se lo aspetta laravel, skill.id è quello che hai fatto qua 
                .then(res =>
                    {
                        this.$store.dispatch('refreshUserSkills', res.data.result.user_skills);
                    })
                .catch(err => 
                {
                    console.log(err);
                })
            }
        },
        removeSkill( skill  )
        {
            ApiServices
            .removeSkill(skill.id)
            .then(res =>
            {
                this.$store.dispatch('refreshUserSkills', res.data.result.user_skills);
                this.cancelAdd();
            })
            .catch( err =>
            {
                console.log(err)
            });
        },
        toggleAdd()
        {
            this.isAdding = !this.isAdding;
        },
        selectSkill( skill)
        {
            this.selectedSkill = skill;
            this.filter ='';
        },
        SkillUp()
        {
            if( this.selectedSkillLevel < 5)
            {
                this.selectedSkillLevel += .5;
            }
        },
        SkillDown()
        {
            if( this.selectedSkillLevel >= 1 )
            {
                this.selectedSkillLevel -= .5;
            }
        },
        ConfirmSkill()
        {
            if(this.selectedSkill && this.selectedSkillLevel >= 1 && this.selectedSkillLevel < 5 )
            {
                ApiServices
                .manageSkill( { skill_id: this.selectedSkill.id, lvl: this.selectedSkillLevel, exp_years:10 } )
                .then( res =>
                {
                    console.log("risultato aggiungi",res);
                    this.$store.dispatch('refreshUserSkills', res.data.result.user_skills); // passo le skill a user.js con il nome payload 
                })
                .catch( err => 
                {
                    console.log(err);
                })
                .finally( () =>
                {
                    this.CancelAdd()
                }); 
            }
        },
        CancelAdd()
        {
            this.selectedSkill = null;
            this.selectedSkillLevel = 1;
            this.filter = '';
            this.toggleAdd();
        },
    },
    created()
    {
        
        if( this.$store.getters.skills === null )
        {
            this.$store.dispatch('fetchUserSkills');
        }
        
        if( this.$store.getters.allSkills === null )
        {
            this.$store.dispatch('fetchAllSkills');
        }
    },
}
</script>

<style lang="scss" scoped>
    .skill-bar{
        transition: width .2s ease-in-out;
    }

</style>