<template>
    <div class="relative w-full flex flex-col items-center mb-3 "> 

        <h1 class="relative tex-center text-2xl xl:text-3xl text-white font-semibold uppercase">
            Lista Annunci Di Lavoro
        </h1>
        <div class="relative w-full flex justify-center">
            <font-awesome-icon :icon="[ 'fas', 'angle-down' ]" class="text-white text-6xl"></font-awesome-icon>
        </div>


        <div class="relative w-full px-3">
            <div class="relative w-full flex -m-mx-3">

                <div class="relative w-1/6 border-r-2 border-white px-3">
                    <div class="relative w-full">
                        Filtri
                    </div>      
                </div>

                <div class="relative w-5/6 px-3">
                   <div class="relative w-full">
                       <template v-if="jobOffers.length > 0">
                            <div class="relative flex justify-between">
                                <div>
                                    Annunci di lavoro: {{jobOffers.length}}
                                </div>
                                <div>
                                    {{CurrentPage}} /  {{MaxPage}}
                                </div>
                            </div>
                            <ul>
                                <li v-for="jobOffer of JobOffers" :key="jobOffer.id" class="mb-6">
                                    <div class="relative w-full">

                                        <div class="relative w-full text-white">
                                            <h3 class="font-semibold mb-1 text-2xl">
                                                {{jobOffer.company.name}}
                                            </h3>
                                        </div>

                                        <div class="relative w-full text-white">
                                            <h4 class="font-normal mb-1 text-xl">
                                                {{jobOffer.role}}
                                            </h4>
                                        </div>
                                        
                                        <div class="relative w-full text-white">
                                            <p v-html="jobOffer.description"> </p>
                                        </div>

                                    </div>
                                    <div class="relative flex flex-wrap -mx-3">
                                        <div  v-for="jobOfferSkill of jobOffers.skills" :key=" jobOfferSkill.id" class=" col-auto p-3">
                                            <div class="relative w-full bg-mj-blue-1 text-white p-2 hover:shadow-2xl cursor-pointer">
                                                <div class="relative w-full text-center">
                                                    <strong>{{jobOfferSkill.label}}</strong>
                                                </div>
                                                <div class="relative flex flex-wrap justify-between">

                                                    <div class="relative col-auto tex-center p-2 text-xs">
                                                        <strong>MIN</strong>
                                                        <br>
                                                        {{jobOfferSkill.pivot.min_level}}
                                                    </div>

                                                    <div class="relative col-auto tex-center p-2 text-xs">
                                                        <strong>MAX</strong>
                                                        <br>
                                                        {{jobOfferSkill.pivot.max_level}}
                                                    </div>

                                                    <div class="relative col-auto tex-center p-2 text-xs">
                                                        <strong>EXP</strong>
                                                        <br>
                                                        {{jobOfferSkill.pivot.min_experience_years}}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                       </template>

                       <template v-if=" canLoadMore">
                           <div class="relative-w-full flex justify-center">
                               <button @cick="loadMore" class="relative py-2 px-8 bg-transparent hover:bg-mj-blue-1 text-white border border-white hover:border-mj-blue-1">
                                   carica altri
                               </button>
                           </div>
                       </template>

                       <template v-else>
                           <div>
                               Non ci sono annunci
                           </div>
                       </template>
                   </div>
                </div>

            </div>
        </div>


    </div>
</template>

<script>
export default {
    name: 'mj-job-offers-list',
    data: function()
    {
        return{
            filters: [],
        };
    },
    computed:
    {
        user()
        {
            return this.$store.getters.user;
        },
        skills()
        {
            return this.$store.getters.skills;
        },
        jobOffers()
        {
            return this.$store.getters.jobOffers;
        },
        maxPage()
        {
            return this.$store.getters.jobOffersMaxPage;
        },
        currentPage()
        {
            return this.$store.getters.jobOffersCurrentPage;
        },
        canLoadMore()
        {
            return this.maxPage >1 && this.currentPage < this.maxPage;
        },
    },
    methods:
    {
        searchJobOffers()
        {
            if(this.filters.length === 0 )
            {
                const skills = this.skills.map(  skill =>
                {
                    return  { id: skill.id, min_level: 1, max_level: parseFloat(skill.pivot.level, 10), min_exp: 10 };
                } );

                const skillsToSend = {};
                skillsToSend.skills = skills;
                this.$store.dispatch('searchJobOffers', { skills: skillsToSend, page: this.currentPage});
            }
        },
        loadMore()
        {
            if(this.filters.length === 0 )
            {
                const skills = this.skills.map(  skill =>
                {
                    return  { id: skill.id, min_level: 1, max_level: parseFloat(skill.pivot.level, 10), min_exp: 10 };
                } );

                const skillsToSend = {};
                skillsToSend.skills = skills;
                this.$store.dispatch('searchJobOffers', { skills: skillsToSend, page: this.currentPage + 1 });
            }
        },
    },
    created()
    {
        if( this.$store.getters.skills === null )
        {
            this.$store.dispatch('fetchUserSkills');
        }

        setTimeout( () =>
        {
            this.searchJobOffers();
        }, 1500 );
    },
    destroyed()
    {
        this.$store.dispatch('resetJobOffers');
    }
}
</script>