<template>
    <router-link 
    to="/Login" 
    class="realtive inline-block bg-white rounded-full py-1 text-blue-600 py-2 px-5 lg:px-10 text-sm lg:text-base font-bold shadow hover:shadow-none flex " > <!-- px-10 mette 10 p di padding a destra e sinistra così è centrato -->
    {{label}}
    </router-link>
</template>

<script>
export default {
    name: 'mj-header-button',
    props:{
        label: String
    }
}
</script>