<template>
    <header class="flex justify-between px-2 py-2 lg:py-2 flex-wrap">
        <div class="flex items-center lg:hidden w-1/3 order-1">
          <router-link to="/" class="  relative h-8 w-8 flex p-1 items-center justify-center">
             <font-awesome-icon :icon="[ 'fas', 'search' ]" class="text-white text-xl"></font-awesome-icon>
          </router-link>
        </div>

        <div class="logo flex w-1/3 order-2 lg:order-1">
          <img src="@/assets/images/logomusa.png" >
        </div>
        <!-- mx-auto centra in orizzontale-->
        <div id="menu" class="flex relative w-auto  flex-grow-0 lg:flex-grow justify-between h-full border-b border-white mx-auto ml-32  order-4 lg:order-2">

          <nav class="relative h-full flex items-end">
            <router-link to="/">Home<div class="marker"></div> </router-link>
            <router-link to="/List">Annunci<div class="marker"></div> </router-link>
            <router-link to="/Profile">Profilo<div class="marker"></div> </router-link>
            <a href="http:://musaformazione.it" target="_blank"> Corsi<div class="marker"></div> </a>
          </nav>

          <div class=" relative hidden h-full lg:flex items-end pb-3 ">

              <div class="realtive mr-4">
                <router-link 
                  v-if="!isAuth"
                  to="/Login" 
                  class="realtive inline-block bg-white rounded-full py-1 text-blue-600 py-2 px-5 lg:px-10 text-sm lg:text-base font-bold shadow hover:shadow-none flex " > <!-- px-10 mette 10 p di padding a destra e sinistra così è centrato -->
                  {{headerButtonLabel}}
                </router-link>

                <button
                  v-if="isAuth" 
                  @click="onLogout"
                  class="realtive inline-block bg-white rounded-full py-1 text-blue-600 py-2 px-5 lg:px-10 text-sm lg:text-base font-bold shadow hover:shadow-none flex " > 
                  {{headerButtonLabel}}
                </button>
              </div>

              <div id="header-search" class="relative">

                  <input type="text" placeholder="search..." class="bg-transparent rounded-md border-white border-2 text-white py-2 pl-4  pr-10"> <!-- l'icone è larga 8 (w-8, quindi questo testo con padding destro 8 non lo  tocca) -->
                  
                  <button class="absolute top-0 right-0 h-full w-8  p-1 flex justify-center items-center"> 
                      <font-awesome-icon :icon="[ 'fas', 'search' ]" class="text-white text-xl"></font-awesome-icon> <!-- visto che fontawesome è importato tramite il mainjs, vuejs crea questo componente così da poter inserire le icone tramite quello -->
                  </button> <!-- primo parametro la libreria, fontawserom solid, secondo parametro search(l'icona) -->
          
              </div>

          </div>
          
        </div>

        <div class="relative flex  lg:hidden order-3 w-1/3 justify-end items-center ">
          <router-link 
          v-if="!isAuth"
            to="/Login" 
            class="realtive inline-block bg-white rounded-full py-1 text-blue-600 py-2 px-5 lg:px-10 text-sm lg:text-base font-bold shadow hover:shadow-none flex " > <!-- px-10 mette 10 p di padding a destra e sinistra così è centrato -->
            {{headerButtonLabel}}
          </router-link>

          <button
            v-if="isAuth" 
            @click="onLogout"
            class="realtive inline-block bg-white rounded-full py-1 text-blue-600 py-2 px-5 lg:px-10 text-sm lg:text-base font-bold shadow hover:shadow-none flex " > 
            {{headerButtonLabel}}
          </button>
        </div>

      </header>
</template>

<script>
  //import MJHeaderButton from '@/components/MJHeaderButton'
    export default {
        name:'mj-header', //nome <mj-header> </mj-header>
        components:
        {
          //'mj-header-button':MJHeaderButton
        },
        computed:
        {
          isAuth: function()
          {
            return this.$store.getters.isAuth;
          },
          headerButtonLabel: function()
          {
            return this.isAuth ? 'Logout' : 'login';
          }
        },
        methods:
        {
          onLogout: function()
          {
            this.$store.dispatch( 'doLogout' );
          }
        }
    }
</script>

<style lang="scss" scoped>
    
header{
  height: map-get($header-heights,'sm' ); // queste varaibili le importi tramite il file vue.config.js che lo crei tu

  @media( min-width: 1024px ){
    height: map-get($header-heights,'lg' );
  }

  .logo{
    position:relative;
    height: auto ;

    @media( min-width: 1024px)
    {
      height: 100%;
      width: auto;
    }
    img{
      width: 100%;
      height:auto;
    @media( min-width: 1024px)
    {
      height: 100%;
      width:auto;
    }
    }
  }

  #menu{
    nav{
      color:#fff;
      a{
        position: relative;
        font-weight: bold;
        @apply pb-3;
        @apply uppercase;
        @apply text-lg;
        @apply mr-12; //tailwind ha classi per ogni cosa, mr-12 mette il amrgin right, se metti apply non hai bisogno di scriverlo su, ma puoi scriverlo qua
        
        @media( min-width: 1024px ){
          @apply mr-16;
        }
        @media( min-width: 1280px ){
          @apply mr-24;
        }

        .marker{
          position: absolute;
          display:none;
          width: 100%;
          height: 4px;
          left: 0px;
          background-color: map-get($colors, 'green-1' );
          bottom:0;
        }

        &:hover,
        &.router-link-exact-active {
          .marker{
            display:block;
          }
        }

        &:last-child{
          @apply mr-0;
        }
      }
    }

    #header-search{
      #input{
        max-width:200px
      }
    }
  }
}
</style>