<template>

  <div class="mb-4">
    <input :class="inputClasses" 
    :id="id"
    :name = name 
    :placeholder="placeholder"
    required
    :type="type"
    v-on:input="$emit('input',$event.target.value)"
    v-bind:value="value">
  <slot></slot>
  </div>

</template>

<script>
  export default {
      name:'mj-input', 
      props:
      {
        layout:
        {
          type:String,
          required: true,
        },
        id:
        {
          type:String,
          default: '',
        },
        placeholder:
        {
          type:String,
          default: '',
        },
        name:
        {
          type:String,
          default: '',
        },
        type:
        {
          type:String,
          default: 'text',
        },
        value:
        {
          type:[String,Number],
        },
        hasError:
        {
          type: Boolean,
          deafult:false,
        },
      },
      computed:
      {
        inputClasses: function()
        {
          let classes = 'appearance-none border rounded w-full py-2 px-3 text-white focus:outline-none';

          if(this.hasError)
          {
            classes =  classes + ' bg-red-400 border-red-700';
          }
          else
          {
            if( this.layout ==='light' )
            {
              classes = classes + ' bg-transparent';
            } 
            else if( this.layout === 'dark' )
            {
              classes = classes + ' bg-mj-blue-1';
            }
          }
          return classes;
        },
      },
  }
</script>

<style lang="scss" scoped>
  
</style>