<template>

  <div class="mb-4">
    <select :class="inputClasses" 
    :id="id"
    :name = name 
    :placeholder="placeholder"
    v-on:change="$emit('input',$event.target.value)" > <!--  v-bind:value="value" -->
    <option value=""> {{emptyOptionLabel}} </option>
    <option v-for="option in options" :key="option.id" :value="option.id">
      {{option.label}}
    </option>
    </select>
  <slot></slot>
  </div>

</template>

<script>
  export default {
      name:'mj-select', 
      props:
      {
        layout:
        {
          type:String,
          required: true,
        },
        id:
        {
          type:String,
          default: '',
        },
        placeholder:
        {
          type:String,
          default: '',
        },
        name:
        {
          type:String,
          default: '',
        },
        type:
        {
          type:String,
          default: 'text',
        },
        hasError:
        {
          type: Boolean,
          deafult:false,
        },
        emptyOptionLabel:
        {
          type: String,
          deafult:"seleziona un valore",
        },
        options:
        {
          type: Array,
          default: function()
          {
            return[
              {
                id:
                {
                  type:Number,
                  required: true,
                },
                label:
                {
                  type:String,
                  required: true,
                },
              }
            ];
          }
        },  
      },
      computed:
      {
        inputClasses: function()
        {
          let classes = 'appearance-none border rounded w-full py-2 px-3 text-white focus:outline-none';

          if(this.hasError)
          {
            classes =  classes + ' bg-red-400 border-red-700';
          }
          else
          {
            if( this.layout ==='light' )
            {
              classes = classes + ' bg-transparent';
            } 
            else if( this.layout === 'dark' )
            {
              classes = classes + ' bg-mj-blue-1';
            }
          }
          return classes;
        },
      },
  }
</script>

<style lang="scss" scoped>
  
</style>