<template>

  <div class="realtive flex  flex-col items-center">
    
    <form class="relative w-full md:w-1/2 lg:w-1/2 my-6">
    
      <mj-input
      class="mb-4"
      layout="dark"
      id="company-code" 
      type="text" 
      placeholder="Codice Azienda"
      :has-error="$v.companyCode.$error"
      v-model="companyCode"
      @input="$v.companyCode.$touch()"
    >
    <p class="text-red-500" v-if="$v.companyCode.$error"> campo non valido </p>
    </mj-input>

    <mj-input
      class="mb-4"
      layout="dark"
      id="password" 
      type="password" 
      placeholder="password"
      :has-error="$v.password.$error"
      v-model="password"
      @input="$v.password.$touch()"
    >
    <p class="text-red-500" v-if="$v.password.$error"> campo non valido </p>
    </mj-input>

      <div class=" flex justify-center relative">
        <button 
        :disabled="$v.$invalid"
          @click.prevent="submitForm" 
          type="submit" 
          class=" shadow-md tracking-widest uppercase py-2 lg:py-3 px-10 disabled:bg-transparent lg:px-16 bg-mj-blue-1 text-white font-bold text-lg rounded-full">
          Invia
        </button>
      </div>

    </form>            

  </div> 
</template>

<script>
// @ is an alias to /src

import {required} from 'vuelidate/lib/validators'
import MJInput from '@/components/MJInput'
export default {
  name: 'CompanyLogin',
  components:
  {
    'mj-input':MJInput,
  },
   data: function()
  {
    return{
      companyCode:'',
      password:'',
    };
  },
  validations :
  {
    companyCode:
    {
      required,
    },
    password:
    {
      required
    }
  },
  computed:
  {
    user: function()
    {
      return this.$store.getters.user;
    }
  },
  methods:
  {
    submitForm()
    {
      const postBody =
      {
        username: this.companyCode,
        password: this.password,
      }
      console.log('dati company',postBody);
      this.$store.dispatch('doCompanyLogin',postBody);
    }
  }
}
</script>
