<template>
  <main id="home" class="relative w-full flex flex-col justify-center ">
    <div class="container mx-auto px-4 mt-6 mb-12 lg:mb-24">
      <div class="relative flex 2-full flex-col items-center">
        <h1 class=" text-center text-3xl lg:text-5xl text-white uppercase font-bold border-b leading-tight">
          Musa Job Opportunities
        </h1>
        <h2 class=" text-center text-lg lg:text-2xl text-white font-normal mt-3">
          Il punto di incontro di chi cerca e chi incontra lavoro
        </h2>
      </div>
    </div>
    <div class="container mx-auto px-4">
      <div class="relative flex flex-col">

        <div class="relative w-full lg:w-1/2 mx-auto flex flex-col lg:flex-row justify-between ">

          <div class="relative flex text-center flex-col mb-6 lg:mb-0">  

            <div>
              <font-awesome-icon :icon="[ 'fas', 'briefcase' ]" class="text-white text-6xl"></font-awesome-icon> 
            </div>

            <div>
              <h3 class="text-white text-xl font-bold mb-4">
                sei un'azienda 
              </h3>
            </div>

            <div>
              <router-link to="/register-company" class="relative inline-block bg-transparent hover:bg-white text-white hover:text-mj-blue-1 px-12 py-3 border border-white rounded-full font-semibold">
                registrati
              </router-link>
            </div>

          </div>


          <div class="realtive hidden  lg:flex">  <div class="bg-white relative w-1 h-full"></div> </div>


          <div class="relative flex text-center flex-col">  

            <div>
              <font-awesome-icon :icon="[ 'far', 'user' ]" class="text-white text-6xl"></font-awesome-icon> 
            </div>

            <div>
              <h3 class="text-white text-xl font-bold mb-4">
                sei un candidato 
              </h3>
            </div>

            <div>
              <router-link to="/register" class="relative inline-block bg-transparent hover:bg-white text-white hover:text-mj-blue-1 px-12 py-3 border border-white rounded-full font-semibold">
                registrati
              </router-link>
            </div>

          </div>

        </div>

        <div class=" flex relative mt-6">
          <div class="relative w-full lg:w-1/2 mx-auto flex justify-center ">
            <p class="text-mj-blue-1 text-base font-semibold">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </div>
        </div>

      </div>
    </div>
  </main>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
}
</script>

<style lang="scss" scoped>
main{
  min-height: auto;
  @media(min-width: 1024px)
  {
    min-height: calc( 100vh -  100px);
  } 
}
</style>
