<template>
  <main id="inputs">
    <div class="container relative mx-auto mt-10">

      <div class="relative w-1/3 mx-auto">
        <mj-input
          type = "text"
          placeholder = "Nome"
          id = "first-name"
          layout = "light"></mj-input>
      </div>

      <div class="relative w-1/3 mx-auto">
        <mj-input
          type = "password"
          placeholder = "password"
          id = "password"
          layout = "dark"></mj-input>
      </div>

    </div>
  </main>
</template>

<script>
import MJInput from '@/components/MJInput'

export default {
  name: 'inputs',
  components:
  {
    'mj-input':MJInput,
  },
}
</script>
