<template>
  <main id="List" class="relative w-full flex flex-col justify-center">
    <div class="container mx-auto px-4">
      <div class="relative flex flex-wrap">
        <div class="relative w-full lg:w-4/5 mx-auto mt-6">
            <component :is="ListType">

            </component>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import JobOffersList from '@/components/jobOffers/JobOffersList'
import UsersList from '@/components/Users/UsersList'
  export default {
    
    components:
    {
      'JobOffersList':JobOffersList,
      'UsersList':UsersList
    },
    data: function()
    {
      return{
        
      };
    },
    methods:
    {
    },
    computed:
    {
      ListType()
      {
         if(this.$store.getters.userType === 'user')
         {
           return 'JobOffersList';
         }
         else if(this.$store.getters.userType === 'company')
         {
           return "UsersList";
         }
         else
         {
           return '';
         }
      },
    },
  }
</script>
