<template>
  <main id="Login">
       <div class="relative container mx-auto  mt-6 lg:mt-10 px-4">
      <div class="relative flex w-full">

        <div class="relative w-1/6 flex justify-center">
          <router-link to="/" class="  relative h-8 w-8 flex p-1 items-center justify-center">
            <font-awesome-icon :icon="[ 'fas', 'angle-left' ]" class="text-white text-5xl"></font-awesome-icon>
          </router-link>
        </div>
        <div class="relative w-4/6">
          <div class="relative flex flex-col w-full bg-white p-6 rounded-md bg-opacity-25">

            <div class="relative flex justify-center">
              <img src="@/assets/images/logomusa.png" class="w-2/3 md:1/3 lg:w-1/5" />
            </div>

            <div class="relative mt-5 flex justify-center my-4">
              <router-link to="/login/user" class="relative bg-mj-blue-1 py-2 px-6 text-white"> Utente</router-link>
              <router-link to="/login/company" class="relative bg-mj-blue-1 py-2 px-6 text-white"> Azienda</router-link>
            </div>
            <router-view />

          </div>
        </div>

        <div class="relative w-1/6">
          spazio laterale
        </div>

      </div>
    </div>
  </main>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Login',
  
}
</script>

<style lang="scss" scoped>
  .router-link-exact-active{
    @apply bg-white;
    @apply text-mj-blue-1;
  }
</style>
