<template>
  <main if="profile" class="relative w-full">
    <div class=" relative container px-4 mx-auto">
      <div class="relative flex flex-wrap">
        <div class="relative mx-auto mt-6 w-full w-4/5">
          <component :is="profileComponent"></component>
        </div>
      </div>
    </div>

    

    <!-- 
      <user-profile v-if="profileType ==='company'"></user-profile>
      <company-profile v-if="profileType ==='user'"></company-profile>
    -->
  </main>
</template>

<script>
import CompanyProfile from '@/components/profiles/CompanyProfile'
import UserProfile from '@/components/profiles/UserProfile'
  export default {
    name: 'Profile',
    components:
    {
      'user-profile':UserProfile,
      'company-profile':CompanyProfile,
    },
    computed:
    {
      profileType: function()
      {
        return this.$store.getters.userType;
      },
      profileComponent: function ()
      {
        if(this.profileType === 'user')
        {
          return 'user-profile';
        }
        else if( this.profileType === 'company')
        {
          return 'company-profile';
        }
        else
        {
          return '';
        }
      },
    },
    
  }
</script>
