<template>
  <main id="Prova">
    <div class="container relative mx-auto mt-10">

      <div class="p-6 bg-red-300 text-white"> test</div>
      <div class="p-6 bg-mj-green-100 text-red-600 border-green-600 border"> test</div>  

    </div>
  </main>
</template>

<script>

export default {
  name: 'Prova',
}
</script>
