<template>
  <main id="register" class="relative w-full">
    <div class="relative container mx-auto  mt-6 lg:mt-10 px-4">
      <div class="relative flex w-full">

        <div class="relative w-1/6 flex justify-center">
          <router-link to="/" class="  relative h-8 w-8 flex p-1 items-center justify-center">
            <font-awesome-icon :icon="[ 'fas', 'angle-left' ]" class="text-white text-5xl"></font-awesome-icon>
          </router-link>
        </div>

        <div class="relative w-4/6">
          <div class="relative flex flex-col w-full bg-white p-6 rounded-md bg-opacity-25">

            <div class="relative flex justify-center">
              <img src="@/assets/images/logomusa.png" class="w-2/3 md:1/3 lg:w-1/5" />
            </div>

            <div class="realtive flex  flex-col items-center">
              
              <form class="relative w-full md:w-1/2 lg:w-1/2 my-6">
              
              <mj-input
                class="mb-4"
                layout="dark"
                id="first-name" 
                type="text" 
                placeholder="Nome"
                :has-error="$v.userData.firstName.$error"
                v-model="userData.firstName"
                @input="$v.userData.firstName.$touch()"
              >
              <p class="text-red-500" v-if="$v.userData.firstName.$error"> campo non valido </p>
              </mj-input>

              <mj-input
                class="mb-4"
                layout="dark"
                id="last-name" 
                type="text" 
                placeholder="Cognome"
                :has-error="$v.userData.lastName.$error"
                v-model="userData.lastName"
                @input="$v.userData.lastName.$touch()"
              >
              <p class="text-red-500" v-if="$v.userData.lastName.$error"> campo non valido </p>
              </mj-input>
           
               <mj-input
                class="mb-4"
                layout="dark"
                id="email" 
                type="email" 
                placeholder="email"
                :has-error="$v.userData.email.$error"
                v-model="userData.email"
                @input="$v.userData.email.$touch()"
              >
              <p class="text-red-500" v-if="$v.userData.email.$error"> campo non valido </p>
              </mj-input>

              <mj-input
                class="mb-4"
                layout="dark"
                id="password" 
                type="password" 
                placeholder="password"
                :has-error="$v.userData.password.$error"
                v-model="userData.password"
                @input="$v.userData.password.$touch()"
              >
              <p class="text-red-500" v-if="$v.userData.password.$error"> campo non valido </p>
              </mj-input>

              <mj-input
                class="mb-4"
                layout="dark"
                id="password-confirm" 
                type="password" 
                placeholder="Conferma Password"
                :has-error="$v.userData.passwordConfirm.$error"
                v-model="userData.passwordConfirm"
                @input="$v.userData.passwordConfirm.$touch()"
              >
              <p class="text-red-500" v-if="$v.userData.passwordConfirm.$error"> campo non valido </p>
              </mj-input>

                <div class="mb-6">
                  <label class="w-full block text-gray-500 font-bold">
                    <input 
                    class="mr-2 leading-tight" 
                    type="checkbox" 
                    v-model="userData.privacy">
                    <span 
                    class="text-xs"
                    :class="[ $v.userData.privacy.$invalid ? 'text-red-500' : 'text-mj-blue-1' ]">
                      privacy 
                    </span>
                  </label>
                </div>             
                
                <div
                  v-if="Object.keys(registrationErrors).length"
                  class ="relative p-4 bg-red-400 border-red-600 border"
                >
                
                 
                  <button class="absolute top-0 right-0" @click="dismissAlert">
                    X
                  </button>
                  <ul>
                    <li
                      v-for="(error,key) of registrationErrors"
                      :key="key">
                      <div>
                        <strong>
                          {{ key }} 
                        </strong>
                        <p
                        v-for="(errorMsg,index) of error" :key="index"
                        >
                        {{errorMsg}}
                        </p>
                      </div>
                    </li>
                  </ul>
                </div> 

                <div class=" flex justify-center relative">
                  <button 
                  :disabled="$v.$invalid"
                    @click.prevent="checkForm" 
                    type="submit" 
                    class=" shadow-md tracking-widest uppercase py-2 lg:py-3 px-10 disabled:bg-transparent lg:px-16 bg-mj-blue-1 text-white font-bold text-lg rounded-full">
                    Invia
                  </button>
                </div>

              </form>            

            </div> 

          </div>
        </div>

        <div class="relative w-1/6">
          spazio laterale
        </div>

      </div>
    </div>
  </main>
</template>

<script>
// @ is an alias to /src

import {required,email,minLength,sameAs} from 'vuelidate/lib/validators'
import MJInput from '@/components/MJInput'
export default {
  name: 'Register',
  components:
  {
    'mj-input':MJInput,
  },
  data: function()
  {
    return{
      userData:
      {
        firstName: '',
        lastName: '',
        email:'',
        password:'',
        passwordConfirm:'',
        privacy: false,
      }
    };
  },
  validations :
  {
    userData:
    {
      firstName:
      {
        required
      },
      lastName:
      {
        required
      },
      email:
      {
        required,
        email
      },
      password:
      {
        required,
        minlen: minLength(8)
      },
      passwordConfirm:
      {
        sameAs: sameAs('password')
      },
      privacy:
      {
        sameAs: sameAs( () => { return true } )
      }
    }
  },
  methods:
  {
    checkForm: function ()
    {
      console.log(this.userData);
      this.$store.dispatch('registerUser', this.userData);
    },
    dismissAlert: function()
    {
      this.$store.dispatch('resetErrors');
    },
    destroyed()
    {
      this.$store.dispatch('resetErrors');
    },
  },
  computed:
  {
    registrationErrors()
    {
      return this.$store.getters.errors;
    }
  },
}
</script>
