<template>
  
  <div class="realtive flex  flex-col items-center">
    
    <form class="relative w-full md:w-1/2 lg:w-1/2 my-6">
    
      <mj-input
      class="mb-4"
      layout="dark"
      id="email" 
      type="email" 
      placeholder="email"
      :has-error="$v.email.$error"
      v-model="email"
      @input="$v.email.$touch()"
    >
    <p class="text-red-500" v-if="$v.email.$error"> campo non valido </p>
    </mj-input>

    <mj-input
      class="mb-4"
      layout="dark"
      id="password" 
      type="password" 
      placeholder="password"
      :has-error="$v.password.$error"
      v-model="password"
      @input="$v.password.$touch()"
    >
    <p class="text-red-500" v-if="$v.password.$error"> campo non valido </p>
    </mj-input>

      <div class=" flex justify-center relative">
        <button 
        :disabled="$v.$invalid"
          @click.prevent="submitForm" 
          type="submit" 
          class=" shadow-md tracking-widest uppercase py-2 lg:py-3 px-10 disabled:bg-transparent lg:px-16 bg-mj-blue-1 text-white font-bold text-lg rounded-full">
          Invia
        </button>
      </div>

    </form>            

  </div> 
</template>

<script>
// @ is an alias to /src

import {required,email} from 'vuelidate/lib/validators'
import MJInput from '@/components/MJInput'
export default {
  name: 'UserLogin',
  components:
  {
    'mj-input':MJInput,
  },
   data: function()
  {
    return{
      email:'',
      password:'',
    };
  },
  validations :
  {
    email:
    {
      required,
      email
    },
    password:
    {
      required
    }
  },
  computed:
  {
    user: function()
    {
      return this.$store.getters.user;
    }
  },
  methods:
  {
    submitForm()
    {
      const postBody =
      {
        email: this.email,
        password: this.password,
      }
      this.$store.dispatch('doLogin',postBody);
    }
  }
}
</script>
