<template>

    <div class="relative w-full flex flex-col items-center mb-3 "> 
        <h1 class="relative tex-center text-2xl xl:text-3xl text-white font-semibold uppercase">
            Profilo Candidato
        </h1>
        <div class="relative w-full flex justify-center">
            <font-awesome-icon :icon="[ 'fas', 'angle-down' ]" class="text-white text-6xl"></font-awesome-icon>
        </div>
        <div class="relative w-full px-3">
            <div class="relative w-full flex -m-mx-3">
                <div class="relative w-1/6 border-r-2 border-white px-3">
                    <div class="relative w-full">

                        <div class="absolute top-0 right-0 z-10 ">
                            <label for="photo">
                                <input @change="onFileSelected" type="file" id="photo" class="hidden" />
                                <font-awesome-icon :icon="[ 'fas', 'pencil-alt' ]" class="text-white text-2xl cursor-pointer hover:text-mj-blue-1"></font-awesome-icon>
                            </label>
                        </div>

                        <div class="relative w-full top-4">
                            <img :src="userAvatar" alt="">
                        </div>
                        
                        <div class="relative w-full" v-if="errors.length > 0">
                            <p v-for=" (error,index) of errors" :key="index" class="text-xs text-red-700">
                                {{error}}
                            </p>
                        </div>

                    </div>  
                </div>
                <div class="relative w-5/6 px-3">
                    {{user}}
                <user-skill></user-skill>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import UserSkills from '@/components/profiles/user/UserSkills.vue'
import axios from 'axios';
export default {
    name:'mj-user-profile',
    components:
    {
        'user-skill' : UserSkills
    },
    data: function()
    {
        return{
            photo: undefined,
            errors: [],
        };
    },
    computed:
    {
        user()
        {
            return this.$store.getters.user;
        },
        userAvatar: function()
        {
            return this.user.details.photo ?    this.user.details.photo.full_path : require("@/assets/images/logo.png"); // qua stai facendo, se esiste la foto la prendi da full_path(non hai perchè il prof non l'ha fatta) se no metti quella di default
        },
    },
    methods:
    {
        onFileSelected(event)
        {
            this.photo =  event.target.files[0];
            this.errors = [];

            const formData = new FormData();
            formData.append('photo',this.photo);

            axios
            .post('upload-user-photo',formData)
            .then( (result) =>
            {
                console.log(result)
            })
            .catch( (err) =>
            {
                this.errors = err.response.data.errors.photo;
            });
        },
    },
}
</script>

<style lang="sass" scoped>

</style>